.root {
    /*-fx-background-color: yellow;*/
    -fx-background-color: rgba(144, 255, 226, 0.36),
    linear-gradient(#bde2ff 0%, #bcd8f7 20%, #b1cdee 100%)'
    radial-gradient(center 50% 0%, radius 100%, rgba(248, 255, 249, 0.76), rgba(110, 113, 110, 0));'
}
.fontStyle{
    -fx-font-size: 25;
    -fx-font-family: "Times New Roman";
}

.label{
    -fx-text-fill: Black;
}

#messageCenter_tableList{
    -fx-background-color: transparent;
}

.tool-bar{
    -fx-background-color: rgba(25, 85, 74, 0.6),
    linear-gradient(#b1cdee 100%,  #bcd8f7 20%,#bde2ff 0%)'
    radial-gradient(center 50% 0%, radius 100%, rgba(248, 255, 249, 0.76), rgba(255,255,255,0));'
}

.button {
    -fx-background-color: #090a0c,
            linear-gradient(#546370 0%, #424d58 20%, #313842 100%),
            linear-gradient(#505f6c, #3d4653),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:pressed {
    -fx-background-color: #090a0c,
    linear-gradient(#3a454e 0%, #2c343b 20%, #16191e 100%),
    linear-gradient(#353e47, #2b313a),
    radial-gradient(center 50% 0%, radius 100%, rgba(94, 108, 122, 0.9), rgba(137, 137, 137, 0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#vacations_tableview{
    /*-fx-background-color: transparent;*/
    -fx-background-image: url("/images/v4u.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 800 506;
    -fx-background-position: center center;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}

.table-view .filler{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, rgba(255, 255, 255, 0.51);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-opacity: 0.88;
    -fx-text-opacity: 1;
    -fx-font-weight: bold;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, rgba(118, 196, 189, 0.41);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-opacity: 0.88;
    -fx-text-opacity: 1;
    -fx-font-weight: bold;

}

.table-row-cell:selected {
    -fx-background-color: #eab565;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}